#warped {
  position: absolute;
  bottom: 0;
  display: block;
  width: 588px;
  height: 440px;
}

#warped > span[class^="w"]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#warped span {
  font-size: 2rem;
}

#warped .w0 {
  -moz-transform: rotate(3.09rad);
  -webkit-transform: rotate(3.09rad);
  -o-transform: rotate(3.09rad);
  -ms-transform: rotate(3.09rad);
  transform: rotate(3.09rad);
  width: 24px;
  height: 25px;
  left: 290.59px;
  top: 379.8px;
}

#warped .w1 {
  -moz-transform: rotate(3.21rad);
  -webkit-transform: rotate(3.21rad);
  -o-transform: rotate(3.21rad);
  -ms-transform: rotate(3.21rad);
  transform: rotate(3.21rad);
  width: 10px;
  height: 25px;
  left: 275.6px;
  top: 379.51px;
}

#warped .w2 {
  -moz-transform: rotate(3.32rad);
  -webkit-transform: rotate(3.32rad);
  -o-transform: rotate(3.32rad);
  -ms-transform: rotate(3.32rad);
  transform: rotate(3.32rad);
  width: 21px;
  height: 25px;
  left: 249.78px;
  top: 376.9px;
}

#warped .w3 {
  -moz-transform: rotate(3.47rad);
  -webkit-transform: rotate(3.47rad);
  -o-transform: rotate(3.47rad);
  -ms-transform: rotate(3.47rad);
  transform: rotate(3.47rad);
  width: 23px;
  height: 25px;
  left: 222.69px;
  top: 370.06px;
}

#warped .w4 {
  -moz-transform: rotate(3.61rad);
  -webkit-transform: rotate(3.61rad);
  -o-transform: rotate(3.61rad);
  -ms-transform: rotate(3.61rad);
  transform: rotate(3.61rad);
  width: 20px;
  height: 25px;
  left: 199.81px;
  top: 359.73px;
}

#warped .w5 {
  -moz-transform: rotate(3.75rad);
  -webkit-transform: rotate(3.75rad);
  -o-transform: rotate(3.75rad);
  -ms-transform: rotate(3.75rad);
  transform: rotate(3.75rad);
  width: 21px;
  height: 25px;
  left: 177.47px;
  top: 346.6px;
}

#warped .w6 {
  -moz-transform: rotate(3.89rad);
  -webkit-transform: rotate(3.89rad);
  -o-transform: rotate(3.89rad);
  -ms-transform: rotate(3.89rad);
  transform: rotate(3.89rad);
  width: 23px;
  height: 25px;
  left: 155.55px;
  top: 329.57px;
}

#warped .w7 {
  -moz-transform: rotate(4.01rad);
  -webkit-transform: rotate(4.01rad);
  -o-transform: rotate(4.01rad);
  -ms-transform: rotate(4.01rad);
  transform: rotate(4.01rad);
  width: 10px;
  height: 25px;
  left: 147.3px;
  top: 313.94px;
}

#warped .w8 {
  -moz-transform: rotate(4.13rad);
  -webkit-transform: rotate(4.13rad);
  -o-transform: rotate(4.13rad);
  -ms-transform: rotate(4.13rad);
  transform: rotate(4.13rad);
  width: 23px;
  height: 25px;
  left: 127.97px;
  top: 296.71px;
}

#warped .w9 {
  -moz-transform: rotate(4.27rad);
  -webkit-transform: rotate(4.27rad);
  -o-transform: rotate(4.27rad);
  -ms-transform: rotate(4.27rad);
  transform: rotate(4.27rad);
  width: 19px;
  height: 25px;
  left: 117.24px;
  top: 274.06px;
}

#warped .w10 {
  -moz-transform: rotate(4.37rad);
  -webkit-transform: rotate(4.37rad);
  -o-transform: rotate(4.37rad);
  -ms-transform: rotate(4.37rad);
  transform: rotate(4.37rad);
  width: 11px;
  height: 25px;
  left: 113.69px;
  top: 255.55px;
}

#warped .w11 {
  -moz-transform: rotate(4.49rad);
  -webkit-transform: rotate(4.49rad);
  -o-transform: rotate(4.49rad);
  -ms-transform: rotate(4.49rad);
  transform: rotate(4.49rad);
  width: 23px;
  height: 25px;
  left: 101.74px;
  top: 234.39px;
}

#warped .w12 {
  -moz-transform: rotate(4.61rad);
  -webkit-transform: rotate(4.61rad);
  -o-transform: rotate(4.61rad);
  -ms-transform: rotate(4.61rad);
  transform: rotate(4.61rad);
  width: 11px;
  height: 25px;
  left: 104.34px;
  top: 212.66px;
}

#warped .w13 {
  -moz-transform: rotate(4.76rad);
  -webkit-transform: rotate(4.76rad);
  -o-transform: rotate(4.76rad);
  -ms-transform: rotate(4.76rad);
  transform: rotate(4.76rad);
  width: 35px;
  height: 25px;
  left: 91.78px;
  top: 184.69px;
}

#warped .w14 {
  -moz-transform: rotate(4.91rad);
  -webkit-transform: rotate(4.91rad);
  -o-transform: rotate(4.91rad);
  -ms-transform: rotate(4.91rad);
  transform: rotate(4.91rad);
  width: 10px;
  height: 25px;
  left: 107.84px;
  top: 157.45px;
}

#warped .w15 {
  -moz-transform: rotate(5rad);
  -webkit-transform: rotate(5rad);
  -o-transform: rotate(5rad);
  -ms-transform: rotate(5rad);
  transform: rotate(5rad);
  width: 11px;
  height: 25px;
  left: 111.12px;
  top: 142.42px;
}

#warped .w16 {
  -moz-transform: rotate(5.11rad);
  -webkit-transform: rotate(5.11rad);
  -o-transform: rotate(5.11rad);
  -ms-transform: rotate(5.11rad);
  transform: rotate(5.11rad);
  width: 23px;
  height: 25px;
  left: 112.61px;
  top: 121.75px;
}

#warped .w17 {
  -moz-transform: rotate(5.27rad);
  -webkit-transform: rotate(5.27rad);
  -o-transform: rotate(5.27rad);
  -ms-transform: rotate(5.27rad);
  transform: rotate(5.27rad);
  width: 23px;
  height: 25px;
  left: 125.6px;
  top: 96.98px;
}

#warped .w18 {
  -moz-transform: rotate(5.4rad);
  -webkit-transform: rotate(5.4rad);
  -o-transform: rotate(5.4rad);
  -ms-transform: rotate(5.4rad);
  transform: rotate(5.4rad);
  width: 15px;
  height: 25px;
  left: 143.6px;
  top: 77.5px;
}

#warped .w19 {
  -moz-transform: rotate(5.5rad);
  -webkit-transform: rotate(5.5rad);
  -o-transform: rotate(5.5rad);
  -ms-transform: rotate(5.5rad);
  transform: rotate(5.5rad);
  width: 15px;
  height: 25px;
  left: 157.11px;
  top: 62.77px;
}

#warped .w20 {
  -moz-transform: rotate(5.61rad);
  -webkit-transform: rotate(5.61rad);
  -o-transform: rotate(5.61rad);
  -ms-transform: rotate(5.61rad);
  transform: rotate(5.61rad);
  width: 13px;
  height: 25px;
  left: 172.34px;
  top: 50.2px;
}

#warped .w21 {
  -moz-transform: rotate(5.73rad);
  -webkit-transform: rotate(5.73rad);
  -o-transform: rotate(5.73rad);
  -ms-transform: rotate(5.73rad);
  transform: rotate(5.73rad);
  width: 23px;
  height: 25px;
  left: 186.19px;
  top: 37.04px;
}

#warped .w22 {
  -moz-transform: rotate(5.85rad);
  -webkit-transform: rotate(5.85rad);
  -o-transform: rotate(5.85rad);
  -ms-transform: rotate(5.85rad);
  transform: rotate(5.85rad);
  width: 13px;
  height: 25px;
  left: 211.52px;
  top: 26.32px;
}

#warped .w23 {
  -moz-transform: rotate(5.94rad);
  -webkit-transform: rotate(5.94rad);
  -o-transform: rotate(5.94rad);
  -ms-transform: rotate(5.94rad);
  transform: rotate(5.94rad);
  width: 10px;
  height: 25px;
  left: 228.35px;
  top: 20.22px;
}

#warped .w24 {
  -moz-transform: rotate(6.06rad);
  -webkit-transform: rotate(6.06rad);
  -o-transform: rotate(6.06rad);
  -ms-transform: rotate(6.06rad);
  transform: rotate(6.06rad);
  width: 23px;
  height: 25px;
  left: 242.52px;
  top: 14.37px;
}

#warped .w25 {
  -moz-transform: rotate(6.15rad);
  -webkit-transform: rotate(6.15rad);
  -o-transform: rotate(6.15rad);
  -ms-transform: rotate(6.15rad);
  transform: rotate(6.15rad);
  width: 0px;
  height: 25px;
  left: 270.27px;
  top: 11.52px;
}

#warped .w26 {
  -moz-transform: rotate(6.24rad);
  -webkit-transform: rotate(6.24rad);
  -o-transform: rotate(6.24rad);
  -ms-transform: rotate(6.24rad);
  transform: rotate(6.24rad);
  width: 24px;
  height: 25px;
  left: 275.2px;
  top: 10.12px;
}

#warped .w27 {
  -moz-transform: rotate(6.36rad);
  -webkit-transform: rotate(6.36rad);
  -o-transform: rotate(6.36rad);
  -ms-transform: rotate(6.36rad);
  transform: rotate(6.36rad);
  width: 10px;
  height: 25px;
  left: 304.19px;
  top: 10.62px;
}

#warped .w28 {
  -moz-transform: rotate(6.47rad);
  -webkit-transform: rotate(6.47rad);
  -o-transform: rotate(6.47rad);
  -ms-transform: rotate(6.47rad);
  transform: rotate(6.47rad);
  width: 21px;
  height: 25px;
  left: 318.98px;
  top: 13.43px;
}

#warped .w29 {
  -moz-transform: rotate(6.62rad);
  -webkit-transform: rotate(6.62rad);
  -o-transform: rotate(6.62rad);
  -ms-transform: rotate(6.62rad);
  transform: rotate(6.62rad);
  width: 23px;
  height: 25px;
  left: 344.01px;
  top: 20.52px;
}

#warped .w30 {
  -moz-transform: rotate(6.76rad);
  -webkit-transform: rotate(6.76rad);
  -o-transform: rotate(6.76rad);
  -ms-transform: rotate(6.76rad);
  transform: rotate(6.76rad);
  width: 20px;
  height: 25px;
  left: 369.79px;
  top: 31.09px;
}

#warped .w31 {
  -moz-transform: rotate(6.9rad);
  -webkit-transform: rotate(6.9rad);
  -o-transform: rotate(6.9rad);
  -ms-transform: rotate(6.9rad);
  transform: rotate(6.9rad);
  width: 21px;
  height: 25px;
  left: 390.99px;
  top: 44.43px;
}

#warped .w32 {
  -moz-transform: rotate(7.04rad);
  -webkit-transform: rotate(7.04rad);
  -o-transform: rotate(7.04rad);
  -ms-transform: rotate(7.04rad);
  transform: rotate(7.04rad);
  width: 23px;
  height: 25px;
  left: 410.75px;
  top: 61.67px;
}

#warped .w33 {
  -moz-transform: rotate(7.16rad);
  -webkit-transform: rotate(7.16rad);
  -o-transform: rotate(7.16rad);
  -ms-transform: rotate(7.16rad);
  transform: rotate(7.16rad);
  width: 10px;
  height: 25px;
  left: 431.84px;
  top: 77.44px;
}

#warped .w34 {
  -moz-transform: rotate(7.28rad);
  -webkit-transform: rotate(7.28rad);
  -o-transform: rotate(7.28rad);
  -ms-transform: rotate(7.28rad);
  transform: rotate(7.28rad);
  width: 23px;
  height: 25px;
  left: 438.01px;
  top: 94.79px;
}

#warped .w35 {
  -moz-transform: rotate(7.42rad);
  -webkit-transform: rotate(7.42rad);
  -o-transform: rotate(7.42rad);
  -ms-transform: rotate(7.42rad);
  transform: rotate(7.42rad);
  width: 19px;
  height: 25px;
  left: 452.51px;
  top: 117.57px;
}

#warped .w36 {
  -moz-transform: rotate(7.53rad);
  -webkit-transform: rotate(7.53rad);
  -o-transform: rotate(7.53rad);
  -ms-transform: rotate(7.53rad);
  transform: rotate(7.53rad);
  width: 11px;
  height: 25px;
  left: 463.89px;
  top: 136.15px;
}

#warped .w37 {
  -moz-transform: rotate(7.64rad);
  -webkit-transform: rotate(7.64rad);
  -o-transform: rotate(7.64rad);
  -ms-transform: rotate(7.64rad);
  transform: rotate(7.64rad);
  width: 23px;
  height: 25px;
  left: 463.63px;
  top: 157.37px;
}

#warped .w38 {
  -moz-transform: rotate(7.76rad);
  -webkit-transform: rotate(7.76rad);
  -o-transform: rotate(7.76rad);
  -ms-transform: rotate(7.76rad);
  transform: rotate(7.76rad);
  width: 11px;
  height: 25px;
  left: 472.81px;
  top: 179.13px;
}

#warped .w39 {
  -moz-transform: rotate(7.91rad);
  -webkit-transform: rotate(7.91rad);
  -o-transform: rotate(7.91rad);
  -ms-transform: rotate(7.91rad);
  transform: rotate(7.91rad);
  width: 35px;
  height: 25px;
  left: 461.1px;
  top: 207.1px;
}

#warped .w40 {
  -moz-transform: rotate(8.06rad);
  -webkit-transform: rotate(8.06rad);
  -o-transform: rotate(8.06rad);
  -ms-transform: rotate(8.06rad);
  transform: rotate(8.06rad);
  width: 10px;
  height: 25px;
  left: 469.77px;
  top: 234.3px;
}

#warped .w41 {
  -moz-transform: rotate(8.15rad);
  -webkit-transform: rotate(8.15rad);
  -o-transform: rotate(8.15rad);
  -ms-transform: rotate(8.15rad);
  transform: rotate(8.15rad);
  width: 11px;
  height: 25px;
  left: 465.35px;
  top: 249.29px;
}

#warped .w42 {
  -moz-transform: rotate(8.27rad);
  -webkit-transform: rotate(8.27rad);
  -o-transform: rotate(8.27rad);
  -ms-transform: rotate(8.27rad);
  transform: rotate(8.27rad);
  width: 23px;
  height: 25px;
  left: 451.66px;
  top: 269.89px;
}

#warped .w43 {
  -moz-transform: rotate(8.42rad);
  -webkit-transform: rotate(8.42rad);
  -o-transform: rotate(8.42rad);
  -ms-transform: rotate(8.42rad);
  transform: rotate(8.42rad);
  width: 23px;
  height: 25px;
  left: 438.43px;
  top: 294.54px;
}

#warped .w44 {
  -moz-transform: rotate(8.55rad);
  -webkit-transform: rotate(8.55rad);
  -o-transform: rotate(8.55rad);
  -ms-transform: rotate(8.55rad);
  transform: rotate(8.55rad);
  width: 15px;
  height: 25px;
  left: 428.24px;
  top: 313.88px;
}

#warped .w45 {
  -moz-transform: rotate(8.65rad);
  -webkit-transform: rotate(8.65rad);
  -o-transform: rotate(8.65rad);
  -ms-transform: rotate(8.65rad);
  transform: rotate(8.65rad);
  width: 15px;
  height: 25px;
  left: 414.59px;
  top: 328.48px;
}

#warped .w46 {
  -moz-transform: rotate(8.76rad);
  -webkit-transform: rotate(8.76rad);
  -o-transform: rotate(8.76rad);
  -ms-transform: rotate(8.76rad);
  transform: rotate(8.76rad);
  width: 13px;
  height: 25px;
  left: 401.23px;
  top: 340.91px;
}

#warped .w47 {
  -moz-transform: rotate(8.88rad);
  -webkit-transform: rotate(8.88rad);
  -o-transform: rotate(8.88rad);
  -ms-transform: rotate(8.88rad);
  transform: rotate(8.88rad);
  width: 23px;
  height: 25px;
  left: 377.26px;
  top: 353.88px;
}

#warped .w48 {
  -moz-transform: rotate(9.01rad);
  -webkit-transform: rotate(9.01rad);
  -o-transform: rotate(9.01rad);
  -ms-transform: rotate(9.01rad);
  transform: rotate(9.01rad);
  width: 13px;
  height: 25px;
  left: 361.82px;
  top: 364.41px;
}

#warped .w49 {
  -moz-transform: rotate(9.1rad);
  -webkit-transform: rotate(9.1rad);
  -o-transform: rotate(9.1rad);
  -ms-transform: rotate(9.1rad);
  transform: rotate(9.1rad);
  width: 10px;
  height: 25px;
  left: 347.94px;
  top: 370.35px;
}

#warped .w50 {
  -moz-transform: rotate(9.21rad);
  -webkit-transform: rotate(9.21rad);
  -o-transform: rotate(9.21rad);
  -ms-transform: rotate(9.21rad);
  transform: rotate(9.21rad);
  width: 23px;
  height: 25px;
  left: 320.7px;
  top: 376.01px;
}
