body {
  transition: color 0.5s ease-in-out;
  &::-webkit-scrollbar {
    background: $black-color;
    width: 0.75rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-color-scrollbar;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: $primary-color;
    }
  }
}
